.input{
    border: 1px solid black;
    font-size: 1.6rem;
    padding: 13px 14px;
    border-radius: 5px;
}
.label {
    margin: 16px 0 5px 0;
}
.error {
    font-size: 14px;
    color: red;
    margin-top: 0.25rem;
}
