* {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
}

html {
  font-size: 10px;
}

div,
input {
  box-sizing: border-box;
}

#root{
  display: grid;
  min-height: 100vh;
  margin: 0 0 0 0;
  grid-template-rows: minmax(60px, auto) 1fr minmax(60px, auto);
}

.active-link{
  color: blue;
  cursor: default;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: rgb(244, 242, 238);
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.Toastify {
  font-size: 1.6rem;
}

.bold-text {
  color: black
}